/Makefile~
/cellula-automata
/src/cell
/src/cell.cpp~
/src/cell.hpp~
/src/cell.o
/src/cellular-automata.cpp~
/src/cellular-automata.c~
/src/cellular-automata.o
/src/graph.cpp~
/src/graph.hpp~
/src/cellular-automata.hpp~
/src/graph.o
/src/Makefile~
/points.txt~
/cellular-automata
/data/#abalone.names#
/data/transform_abalone.py~
/documentation/notes.org~
/documentation/notes.pdf
/documentation/notes.tex
/documentation/notes.tex~
/data/test
/data/test.c~
/data/test.py
/data/test.py~
/data/max_value
/data/out.c
/data/tmp.txt
