/Makefile~
/cellula-automata
/src/cell
/src/cell.cpp~
/src/cell.hpp~
/src/cell.o
/src/cellular-automata.cpp~
/src/cellular-automata.c~
/src/cellular-automata.o
/src/graph.cpp~
/src/graph.hpp~
/src/cellular-automata.hpp~
/src/graph.o
/src/Makefile~
/points.txt~
/cellular-automata
/data/#abalone.names#
/data/transform_abalone.py~
